*{
    margin: 0;
    font-family: poppins;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.box{
    position: relative;
    width: 452px;
    height: 486px;
    background: #363839;
    overflow: hidden;
}
.box form h2{
    color: #ff7a00;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.1cm;
    margin-top: 35px;
}
.box form img{
    width: 149px;
    height: 125px;
    margin-top: 40px;
    margin-left: 135px;
}
.box form p{
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
    outline: none;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
   color: #ecdfdf;
}
.box form button{
    outline: none;
    background: #ff7a00;
    width: 180px;
    height: 42px;
    top: 567px;
    left: 534px;
    margin-top: 30px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 130px;
    margin-right: 130px;
    
}
.box form button:hover{
    color: #ff7a00;
    background: white;
    transition: all 300ms linear;
    cursor: pointer;
}